services:
  notes_app:
    image: node:24
    container_name: app
    working_dir: /app

    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"

    volumes:
      - ./:/app:cached
      - app_data:/app/data

    ports:
      - "4321:4321"

    environment:
      - NODE_ENV=development

    restart: unless-stopped

volumes:
  app_data:
