@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import "tailwindcss";

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #131e4f;
	--sl-color-accent: #3447ff;
	--sl-color-accent-high: #b3c7ff;
	--sl-color-white: #ffffffd0;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #969088;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c7d6ff;
	--sl-color-accent: #364bff;
	--sl-color-accent-high: #182775;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}

/*
main ul{
  @apply list-disc ml-12;
}

body{
  @apply dark:bg-gray-950
}

main ol{
  @apply list-decimal ml-12;
}

.copy button{
  @apply dark:text-white font-bold rounded;
}
.astro-v37mnknz{
  @apply rounded-full
}

.sidebar-content, nav> #starlight__sidebar ,.right-sidebar-container, main, header{
  @apply dark:bg-gray-950 list-none 
}

.sidebar-content .large , #starlight__sidebar .right-sidebar-container #starlight__on-this-page{
  @apply dark:text-gray-400
}

main a{
  @apply dark:text-blue-500
}

main .pagination-links a{
  @apply dark:text-white;
}

main code{
  @apply dark:bg-gray-950
} */
